pdf-viewer {
  display: inline;
  width: 800px;
}

.detail-container {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 2em;
  width: 800px;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
}
h2 {
  font-weight: 700;
  border-bottom: 2px, solid, rgb(58, 58, 58);
}
.pdfViewer .page {
}
