<mat-card class='detail-container'>
  <mat-card-header>
  <mat-card-title>
        {{post?.title}}

  </mat-card-title>
        <mat-card-subtitle>Created at {{post?.createdAt|date:'YYYY/MM/dd'}} by
          {{post?.writer.name}}</mat-card-subtitle>
  </mat-card-header>
<mat-card-content>
  <span ><button mat-raised-button color="primary" *ngIf='checkWriter()' (click)='deleteContest()'>삭제</button><button mat-raised-button color="primary" *ngIf='checkAttender()' (click)='routeToProblemList()'>문제목록</button></span>
  <div *ngFor="let image of post?.pictures">
    <pdf-viewer *ngIf='this.pdfReg.test(image.filename)' [src]="UPLOAD_URL+'/'+image._id+'/download'"  [autoresize]="true" [show-all]="true" [fit-to-page]="true">
    </pdf-viewer>
    <img *ngIf='this.pictureReg.test(image.filename)' [src]="UPLOAD_URL+'/'+image._id+'/download'">
  </div>
  </mat-card-content>
  <mat-card-footer>
  {{post?.content}}
  </mat-card-footer>
</mat-card>
