<mat-card class='detail-container'>
  <div>{{post?.title}}</div>
  <div>Created at {{post?.createdAt|date:'YYYY/MM/dd'}}</div><span ><button mat-raised-button color="primary" *ngIf='checkWriter()' (click)='deleteContest()'>삭제</button></span>
  <div *ngFor="let image of post?.pictures">
    <pdf-viewer *ngIf='this.pdfReg.test(image.filename)' [src]="UPLOAD_URL+'/'+image._id+'/download'"  [autoresize]="true" [zoom]="0.8" [show-all]="true" [fit-to-page]="true">
    </pdf-viewer>
    <img *ngIf='this.pictureReg.test(image.filename)' [src]="UPLOAD_URL+'/'+image._id+'/download'">
  </div>
  {{post?.content}}
</mat-card>
