@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

#container {
  width: 100%;
  display: inline-block;
}
nav {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 10;
  width: 100%;
  ul {
    text-align: left;
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    li {
      display: inline;
      font-family: "Fira Sans", sans-serif;
      font-size: 17px;
      a {
        color: #f2f2f2;
        text-decoration: none;
        padding: 14px;
        &:hover {
          background-color: #111;
        }
      }
    }
  }
}

.content {
  text-align: center;
}
