@import "variables";
@import "mixins";

.block {
  display: block !important;
}

.inline {
  display: inline !important;
}

.inline-block {
  display: inline-block !important;
}

.relative {
  position: relative;
}

.flex {
  display: flex !important;
}

.column {
  flex-direction: column;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.main-container {
  width: $main-width;
  margin: 0 auto;
  padding: 0 1rem;
}

@include combine(grow, (0, 1), flex-grow);
@include combine(shrink, (0, 1), flex-shrink);

@mixin generate-width() {
  @for $w from 1 through 100 {
    .w-#{$w} {
      width: 100% * $w / 100 !important;
    }
  }
}
@include generate-width();
