@import "variables";

.container {
  height: 100%;
}

.nav {
  width: 200px;
  height: 100%;
  overflow-y: auto;
}

.nav-item {
  padding: 0.5em 1em;

  &:first-child {
    margin-top: $header-height;
  }

  a {
    color: #333;
    text-decoration: none;

    &:hover {
      font-weight: bold;
    }
  }

  &.active {
    font-weight: bold;
  }
}
