:host {
  display: block;
}

$header-height: 60px;
$side-menu-width: 200px;
$hover-color: #c1c3eb;

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: $header-height 0;

  &::before {
    content: " ";
    display: block;
    width: 100px;
    height: 100px;
    background-image: url("../../../../assets/logo_example.svg");
    background-size: 100px 100px;
  }

  li {
    button {
      background: inherit;
      border: none;
      box-shadow: none;
      border-radius: 0;
      padding: 0;
      overflow: visible;
    }
    a {
      text-decoration: none;
      color: black;
    }

    &:not(:first-child):hover {
      & a {
        color: rgba(#fff, 0.9);
      }
      background-color: $hover-color;
    }
    width: $side-menu-width;
    height: $header-height;
    line-height: $header-height;
    text-align: center;
    cursor: pointer;
  }
}
