<div class="main-image mb-4"
     swBackgroundPosition="center"
     swBackgroundSize="cover"
     swBackgroundColor="rgba(0, 0, 0, 0.7)"
     swBackgroundBlendMode="multiply"
     swBackgroundImage="assets/images/main.jpg">
    <div class="main-container p-6">
        <h2 class="text-primary">충북대학교 SW중심대학사업단</h2>
        <h1 class="mt-4"><span class="text-accent">ONLINE JUDGE</span> 시스템</h1>
    </div>
</div>
<div class="main-container flex py-2">

    <div class="contests-container p-2 me-2 border">
        <h3 class="mb-3">참가신청 중인 콘테스트</h3>
        <sw-applying-contest-list></sw-applying-contest-list>
    </div>

    <div class="my-container w-40 p-2 border">
        <ng-container *ngIf="auth.loggedIn; else loginTamplate">
            <p class="font-s flex justify-between align-center border-bottom mb-2 pb-1">
                <span><span class="text-primary fw-700">
                    <a [href]="myPageUrl">{{auth.me?.name}}</a>
                </span>님 로그인 중</span>
                <button mat-button (click)="auth.logout()">로그아웃</button>
            </p>
            <h3 class="mb-2">참가 중인 콘테스트</h3>
            <sw-my-registered-contest></sw-my-registered-contest>
        </ng-container>
        <ng-template #loginTamplate>
            <h3 class="mb-3">
                <span class="text-primary fw-900 font-l">SW </span>
                <span class="text-accent fw-900 font-l">ONLINE JUDGE</span> 로그인
            </h3>
            <sw-login-form></sw-login-form>
        </ng-template>
    </div>
</div>
