<div class="container">
  <h2 class="card-header">Login</h2>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="ClassOf">학번 : </label>
        <input type="text" formControlName="ClassOf" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.ClassOf.errors }" />
        <div *ngIf="submitted && f.ClassOf.errors" class="invalid-feedback">
          <div *ngIf="f.ClassOf.errors.required">학번을 반드시 입력해주세요</div>
        </div>
      </div>
      <div class="form-group">
        <label>비밀번호 : </label>
        <input type="text" formControlName="PassWord" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.PassWord.errors }" />
        <div *ngIf="submitted && f.PassWord.errors" class="invalid-feedback">
          <div *ngIf="f.PassWord.errors.required">비밀번호를 반드시 입력해주세요</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="!form.valid" class="btn btn-primary" (click)="onSubmit()" type="submit">
          <span class="spinner-border spinner-border-sm mr-1"></span>
          Submit
        </button>
      </div>
    </form>
  </div>
</div>