<div class="login-container mat-elevation-z1">
  <h2 class="name no-drag">로그인</h2>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field>
      <mat-label>학번/교번</mat-label>
      <input
        type="text"
        matInput
        formControlName="no"
        placeholder="Ex. 20210010001"
      />
      <mat-hint>본인의 학번 또는 교번을 입력하세요.</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>비밀번호</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        placeholder="Ex. 영문 대소문자, 숫자, 특수문자 조합"
      />
      <mat-hint>비밀번호를 입력하세요.</mat-hint>
    </mat-form-field>
    <button mat-flat-button color="primary" type="submit">로그인</button>
  </form>
</div>
