.post-container {
  padding: 2em;
  position: relative;
}

mat-form-field {
  width: 100%;
  margin-bottom: 1em;
}

.data-picker {
  width: 250px;
}

textarea {
  height: 550px;
}

.button-wrapper {
  height: 40px;
  width: 100%;
  display: flex;
}

button {
  flex: none;
  margin-left: auto;
}

.file-input {
  color: white;
  font-size: 16px;
  height: 40px;
  width: 100px;
  background: #3f51b5;
  border: 1px solid #3f51b5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8%;
  box-shadow: #ababab;
}

.mat-list-item {
  display: inline-flex;
}
