<mat-card class='post-container'>
  <form [formGroup]="formGroup" (ngSubmit)="submit()">
  <mat-form-field class='data-picker' appearance="fill">
    <mat-label>대회 일정을 선택하세요</mat-label>
    <mat-date-range-input [formGroup]="formGroup" [rangePicker]="picker">
      <input matStartDate [errorStateMatcher]="errorMatcher" formControlName="from" placeholder="시작일">
      <input matEndDate [errorStateMatcher]="errorMatcher" formControlName="to" placeholder="종료일">
    </mat-date-range-input>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
    <mat-error *ngIf="hasError('matStartDateInvalid')">잘못된 시작날짜 입니다!</mat-error>
    <mat-error *ngIf="hasError('matEndDateInvalid')">잘못된 종료날짜 입니다!</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>대회명</mat-label>
    <input matInput [errorStateMatcher]="errorMatcher" formControlName="title">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>추가 설명</mat-label>
    <textarea matInput [errorStateMatcher]="errorMatcher" formControlName="content"></textarea>
  </mat-form-field>
  <div
  class="file-input cursor"
  [class.pointer]="!disabled"
  appFileChooser
  (filesChange)="handleFiles($event)"
  accept="*"
  [multiple]="true"
  [disabled]="disabled"
>파일 제출
</div>
<div class="button-wrapper">
  <button mat-raised-button color="primary" type="submit">글쓰기</button>
</div>
</form>
</mat-card>
