<body>
  <div class="join-container">
    <h2 class="name no-drag">회원가입</h2>
    <form [formGroup]='joinForm' (ngSubmit)='onSubmit(joinForm.value)'>
      <ng-container class="form-field" *ngFor="let classInfo of formClass">

        <div *ngIf="classInfo.class !== 'password'  ">
            <div class="text-align">
            <label class="message no-drag" [for]="classInfo.class">{{classInfo.korean}}</label>
            <div class="sub-message no-drag">{{classInfo.note}}</div>
            </div>
          <input class= input-field [id]="classInfo.class" 
            [type]="classInfo.class === 'password' ? 'password' : 'text'" 
            [formControlName]="classInfo.class">
        </div>

        <div *ngIf="classInfo.class == 'password'" class="password-field">
            <div class="text-align">
            <label class="message no-drag">비밀번호</label>
            <div class="sub-message no-drag">8~16글자</div>
            </div>
              <input class="password" id="password"
                type="password" 
                formControlName="password">
              <input class="confirmPassword" id="ConfirmPassword" 
                type="password" 
                formControlName="password">
            </div>
      </ng-container>
      <button class="button" type="submit" >회원가입</button>
    </form>
  </div>
</body>