<div class="main-container flex align-center">
  <a class="flex brand-wrapper me-6" routerLink="/">
    <img class="brand-image me-2" src="assets/images/logo.png" alt="logo image"/>
    <div class="brand-name">
      <span class="text-primary font-xl fw-900">SW</span><span class="font-l fw-900 text-accent"> ONLINE JUDGE</span>
    </div>
  </a>
  <nav class="flex align-end grow-1 font-m me-auto">
    <a class="px-1 me-2" routerLink="/contest/list/me" *ngIf="auth.isOperator$ | async">콘테스트 관리</a>
  </nav>
  <a class="cursor pointer font-s"
     routerLink="/account/login"
     *ngIf="!auth.loggedIn">로그인</a>
  <a class="cursor pointer font-s"
     (click)="logout()"
     *ngIf="auth.loggedIn">로그아웃</a>
</div>
