<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    (click)="toggleSideMenu()"
    *ngIf="authService.loggedIn"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <a class="logo" routerLink="/main">Online Judage</a>
  <a class="account" routerLink="/account/join" *ngIf="!authService.loggedIn"
    >회원가입</a
  >
  <a class="account" routerLink="/account/login" *ngIf="!authService.loggedIn"
    >로그인</a
  >
  <span class="account" *ngIf="authService.loggedIn"
    ><a routerLink="/my-page">{{ authService.me?.info.name }}</a
    >님 로그인 중</span
  >
  <a class="account" (click)="authService.logout()" *ngIf="authService.loggedIn"
    >로그아웃</a
  >
</mat-toolbar>
