<div class="main-container mt-2">
    <h2 class="mb-2">{{contest?.title}}</h2>
    <span class="flex border-bottom pb-2">
        <span class="font-s me-2">참가신청기간: {{contest | applyingPeriod}}</span>
        <span class="font-s me-auto">대회시간: <span class="fw-700">{{contest | testPeriod}}</span></span>
        <span class="font-s">작성자: {{contest?.writer.name}}</span>
    </span>

    <div class="py-2 border-bottom mb-2">
        <div [swInnerHtml]="contest?.content"></div>
    </div>

    <div class="flex justify-end" *ngIf="isWriter$ | async">
        <button type="button"
                class="me-2 no-border-radius"
                (click)="removeContest()"
                mat-flat-button color="warn">콘테스트 삭제
        </button>
        <a *ngIf="isBeforeTestPeriod" class="text-white me-2 no-border-radius"
           mat-flat-button color="accent"
           [routerLink]="['/contest/edit', contest?._id]">콘테스트수정</a>
        <a class="no-border-radius" mat-flat-button color="primary"
           [routerLink]="['/contest', contest?._id, 'problem']">문제 등록 및 수정</a>
    </div>

    <div class="flex justify-end" *ngIf="isContestant$ | async; else notContestantTemplate">
        <button *ngIf="isBeforeTestPeriod"
                (click)="unenroll()"
                type="button"
                class="no-border-radius"
                mat-flat-button
                color="warn">
            참가신청취소
        </button>
        <a *ngIf="isTestPeriod" class="no-border-radius"
           mat-flat-button color="primary"
           [routerLink]="['/contest', contest?._id, 'start']">
            콘테스트시작
        </a>
    </div>

    <ng-template #notContestantTemplate>
        <div class="flex justify-end">
            <button *ngIf="isApplyingPeriod && !(isWriter$ | async)"
                    class="no-border-radius"
                    (click)="enroll()"
                    mat-flat-button color="primary">
                참가신청
            </button>
        </div>
    </ng-template>
</div>

<div class="main-container">
    <h2 class="mb-2">참가자</h2>
    <sw-contestants-list [contestants]="contest?.contestants"
                         [contestWriter]="contest?.writer._id">
    </sw-contestants-list>
</div>
