pdf-viewer {
  display: inline;
  width: 900px;
}

img {
  width: auto;
}
.detail-container {
  width: 900px;
  padding: 2em;
  font-family: "Noto Sans KR", sans-serif;
  text-align: center;
}

.title {
  font-size: 5em;
}

h2 {
  font-weight: 700;
  border-bottom: 2px, solid, rgb(58, 58, 58);
}

img {
  width: 890px;
}
