@import "variables";

.total-score, .score {
  flex: 0 0 110px;
}

.score {
  background-color: rgba(0, 0, 0, 0.12);

  &.right {
    background-color: mat-color($main-primary);
    color: white;
  }
}
